body {
  margin: -34px 0px 0px 0px;
}

#header-section {
  width: 100%;
  height: 800px;
  background-color: #003153;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}

#header-section h1 {
  color: rgb(255, 215, 80);
  font-style: italic;
  font-size: 50px;
  text-align: center;
}

#header-section hr {
  position: relative;
  bottom: 3%;
  width: 15%;
}

/* NAVIGATION BAR
#header-section nav {
  background-color:  rgb(196, 216, 226);
  position: fixed;
  bottom: 875px;
}

#header-section nav ul {
  margin: 5px;
  padding: 5px 0px 5px 30px;
}

#header-section nav li {
  display: inline;
  margin-right: 30px;
}

#header-section a {
  color: inherit;
  text-decoration: none;
}

#header-section a:hover {
  text-decoration: underline;
}
*/

#header-section img {
  position: relative;
  right: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 60%;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 20%;
}

#about-me-header {
  color: rgb(255, 215, 80);
  font-style: italic;
  font-size: 50px;
  position: relative;
  left: 61%;
  bottom: 55%;
}

#about-me {
  width: 35%;
  height: 60%;
  position: relative;
  bottom: 58%;
  left: 50%;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 20%;
  background-color: rgb(255, 255, 255);
}